.cabecalho{
    
    background-color: #424e61;
color: wheat;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px ;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
display: inline-block;
}

